button,
switch,
switch slider {
  background-color: mix(@bg_color, @fg_color, 0.05);
  border: 1px solid shade(@bg_color, 0.75);
  border-radius: 0.33em;
  color: @fg_color;
  font-weight: normal;
  padding: 0.33em 0.75em;
}

/*.text-button {*/
/*  padding: 0.25em 1em;*/
/*}*/

switch,
switch slider {
  padding: 0;
}

switch slider {
  background-color: shade(@bg_color, 0.95);
  border: none;
  box-shadow: 0 0 0 1px @borders;
}

button:active,
button:checked {
  background-color: shade(@bg_color, 0.875);
}

.suggested-action {
  background-color: @accent_color;
  color: @accent_color_contrast;
}

.suggested-action:active,
.suggested-action:checked {
  background-color: shade(@accent_color, 0.9);
}

.destructive-action {
  background-color: @destructive_color;
  color: @destructive_color_contrast;
}

.destructive-action:active,
.destructive-action:checked {
  background-color: shade(@destructive_color, 0.9);
}

.circular {
  border-radius: 50%;
}

.flat,
.inline-toolbar button {
  background: transparent;
  border: none;
}

