window,
dialog,
messagedialog,
menu,
popover,
.background,
.csd {
  background: mix(@bg_color, @fg_color, 0.05);
  color: @fg_color;
}

.titlebar {
  background-color: @colorPrimary;
  border-bottom: 1px solid @borders;
  border-radius: 0.5em 0.5em 0 0;
  color: @textColorPrimary;
  font-weight: bold;
  padding: 0.5em;
  text-shadow: 0 1px @textColorPrimaryShadow;
  -gtk-icon-shadow: 0 1px @textColorPrimaryShadow;
}

.titlebar .image-button,
.titlebar .titlebutton:not(separator) {
  background: transparent;
  border: none;
  color: inherit;
  padding: 0.25em;
  margin: 0.125em;
}

.titlebar separator {
  border: none;
  margin: 0;
  opacity: 0;
  padding: 0;
}

decoration {
  border-radius: 0.5em 0.5em 0 0;
  box-shadow:
      0 0 0 1px alpha(@fg_color, 0.5),
      0 14px 28px rgba(0, 0, 0, 0.35),
      0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 12px;
}

window.rounded,
window.rounded actionbar {
    border-radius: 0 0 0.33em 0.33em;
}

window.rounded decoration {
    border-bottom-left-radius: 0.33em;
    border-bottom-right-radius: 0.33em;
}

window.flat .titlebar {
  background: mix(@bg_color, @fg_color, 0.05);
  border: none;
}

.default-decoration {
  padding: 0.25em;
}
