entry,
.entry,
spinbutton {
  background-color: @bg_color;
  border: 1px solid @borders;
  border-radius: 0.33em;
  color: @fg_color;
  font-weight: normal;
  padding: 0.25em;
  text-shadow: none;
  -gtk-icon-color: @fg_color;
  -gtk-icon-shadow: none;
}

entry image.left {
    margin-right: 0.5em;
}

spinbutton {
  padding: 0;
}

spinbutton entry,
spinbutton entry:disabled,
spinbutton entry:focus {
  background: none;
  border: none;
  padding: 0;
}

spinbutton.horizontal entry {
  margin: 0 0.5em;
}

spinbutton.vertical entry {
  margin: 0.5em 0;
}

spinbutton button {
  background: transparent;
  border: none;
}

