entry,
.entry,
spinbutton {
  background-color: @bg_color;
  border: 1px solid @borders;
  border-radius: 0.33em;
  padding: 0.25em;
}

spinbutton {
  padding: 0;
}

spinbutton entry,
spinbutton entry:disabled,
spinbutton entry:focus {
  background: none;
  border: none;
}

spinbutton.horizontal entry {
  margin: 0 0.25em;
}

spinbutton button {
  background: transparent;
  border: none;
}

