scale slider {
    background-color: shade($bg_color, 1.5);
    border: 1px solid shade($bg_color, 0.75);
    border-radius: 50%;
    min-height: 1em;
    min-width: 1em;
}

scale trough {
    background-color: mix($bg_color, $fg_color, 0.125);
    border: 1px solid $borders;
    border-radius: 1em;
    margin: 0.5em;
    min-height: 1em;
    min-width: 1em;
}

scale.horizontal trough {
    margin: 0.25em 0;
}

scale.vertical trough {
    margin: 0 0.25em;
}
