name: Deploy Static Site
on:
  push:
    branches: master
jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: node
    steps:
    - uses: actions/checkout@v1
    - name: deploy static site
      run: |
        npm ci
        npm run deploy-storybook -- --ci
      env:
        GH_TOKEN: kgrubb:${{ secrets.GH_TOKEN }}